/* Contact Page Responsive Styles */

@media screen and (max-width: 968px) {
  html {
    font-size: 14px;
  }

  /* Header Section */

  /* Header Bar Section */

  .bar .bar-child-2 {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  /* Utility classes */

  /* flex Classes */

  .flex-100 {
    flex: 0 1 100%;
  }

  .flex-48 {
    flex: 0 1 48.8%;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  html {
    font-size: 0.75rem;
  }

  /* Header Section */

  /* Header Bar Section */

  .bar-child-1 {
    flex: 0 1 50%;
  }

  .bar-child-2 {
    flex: 0 1 50%;
    justify-content: space-between;
  }

  /* Header Navigation-Bar Section */

  .navigation-bar .logo {
    position: sticky;
    z-index: 4;
  }

  .header-navbar .menu-btn {
    display: block;
    position: sticky;
    z-index: 4;
  }

  .menu-btn i {
    font-size: 1.2rem;
    color: #191d34;
  }

  .header-navbar .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }

  .nav-links li {
    margin: 0.8rem 0rem;
  }

  .nav-links li a {
    margin: 0;
    font-size: 0.9rem;
    color: #fff;
  }

  .nav-links li .nav-btn {
    margin-left: 0;
  }

  #toggle:checked~.nav-links {
    display: flex;
  }

  @media screen and (max-width: 568px) {
    /* Utility classes */

    /* flex Classes */

    .flex-100-sm {
      flex: 0 1 100%;
    }

    .flex-50-sm {
      flex: 0 1 100%;
    }

    .flex-wrap-sm {
      flex-wrap: wrap;
    }

    .align-items-start-sm{
      align-items: flex-start;
    }

    /* Main Section */

    /* Section - 2 */

    .section-2 .sec-2-child-1 {
      margin-bottom: 3rem;
    }
  }

  /* footer Section */

  .footer-start {
    justify-content: center;
    padding-top: 5rem;
  }

  .footer-start .foot-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  .foot-text p {
    margin: 0.75rem 0rem;
  }

  .foot-text ul {
    justify-content: center;
  }

  .footer-start .footer-links {
    flex: 0 1 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 468px) {
  html {
    font-size: 10px;
  }

  /* Utility classes */

  /* flex Classes */

  .flex-wrap-vsm {
    flex-wrap: wrap;
  }

  .flex-100-vsm {
    flex: 0 1 100%;
  }

  .flex-50-vsm {
    flex: 0 1 50%;
  }

  /* Margin Classes */

  .margin-top-vsm {
    margin-top: 1.25rem;
  }

  /* Text Align */

  .text-align-center-vsm {
    text-align: center;
  }

  /* Header Bar Section */

  .bar-child-2 {
    margin-top: 2px;
  }

  .bar-child-2 .bar-links {
    justify-content: center;
  }

  /* Main Section */

}

@media screen and (max-width: 268px) {
  html {
    font-size: 8px;
  }
}
