/* Blog Page Style Sheet */

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Universal Styles */

*,
*::before,
*::before {
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}

/* Root Vaiables */

:root {
  --primary: #012d5b;
  --secondary: #fd656b;
  --dark: #191d34;
  --bg: #f8fafe;
  --text: #5c6c7c;
  --text-light: #9095a1;
}

/* Utility classes */

/* Container Classes */

.container-1 {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-3 {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flex Classes */

.flex {
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-direction {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Elements Classes */

a {
  text-decoration: none;
}

strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Button Classes */

.btn-1 {
  padding: 0.65rem 1.25rem;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 4px;
  border: 2px solid transparent;
}

.btn-1:hover {
  border: 2px solid var(--secondary);
  background-color: transparent;
  color: var(--secondary);
  transition: 0.2s;
}

.btn-2 {
  padding: 0.65rem 1.25rem;
  border: 2px solid var(--secondary);
  background-color: transparent;
  color: var(--secondary);
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 500;
}

.btn-2:hover {
  background-color: var(--secondary);
  color: #fff;
  border: 2px solid transparent;
  transition: 0.2s;
}

/* Heading Classes */

.small-heading {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--dark);
}

.heading {
  font-size: 1.75rem;
  color: var(--dark);
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: 1px;
  line-height: 1.4;
}

.big-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark);
  text-align: center;
}

/* Paragraph Classes */

.paragraph {
  font-size: 0.75rem;
  line-height: 1.7;
  color: var(--text);
}

/* Background Colors of Sections */

.bg-blue {
  background-color: var(--primary);
}

.bg-color {
  background-color: var(--bg);
}

/* Padding Top Bottom for Sections */

.padding-top-bottom {
  padding-top: 6.25rem;
}

/* Custom Styles */

/* Header Bar Section */

.bar {
  padding: 0.5rem 0rem;
}

.header-bar span,
i {
  color: #fff;
  font-size: 0.75rem;
}

.bar-child-1 {
  flex: 0 1 28%;
}

.bar-child-2 {
  flex: 0 1 72%;
}

.bar-links a {
  margin-left: 1.1rem;
}

/* Header Section */

.header{
  position: sticky;
  top: -1px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 3;
}

/* Header Navigation-Bar Section */

.navigation-bar {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.logo img {
  width: 5rem;
}

.header-navbar a {
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: 1.75rem;
  color: var(--primary);
  text-transform: uppercase;
}

.header-navbar a:hover {
  color: var(--secondary);
  transition: 0.2s;
  border-bottom: 2px solid var(--secondary);
}

.header-navbar .nav-btn {
  color: #fff;
  margin-left: 2.25rem;
}

.header-navbar .active {
  color: var(--secondary);
  border-bottom: 2px solid var(--secondary);
}

.header-navbar .menu-btn,
.header-navbar input {
  display: none;
}

/* Section - 1 */

.bg-img {
  background-image: url("blog_hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.section-1 {
  min-height: 15rem;
}

.section-1 h3 {
  color: #fff;
  font-size: 2.5rem;
}

/* Section - 2 */

.section-2 {
  align-items: flex-start;
}

.sec-2-child-1 {
  flex: 0 1 57%;
}

.sec-2-child-2 {
  flex: 0 1 40%;
}

.sec-2-child-3 {
  flex-grow: 1;
}

/* Articles Section */

.article {
  margin-bottom: 5%;
  background-color: #fff;
  box-shadow: 1px 1px 0.65rem 0px rgba(33, 35, 38, 0.1);
}

.article-content {
  padding: 1.4rem 1.75rem;
  position: relative;
}

.article-img img {
  width: 100%;
}

.article-content .date {
  background-color: var(--secondary);
  width: 15%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.65rem 0rem;
  position: absolute;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  top: -60px;
}

.article-content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  color: var(--dark);
}

.article-content p {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text);
  margin-top: 0.65rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.article-content .icons i {
  color: var(--text-light);
  font-size: 0.75rem;
  margin-right: 3px;
}

.article-content .icons span {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-light);
}

.article-content .icons .stick {
  color: var(--text);
  font-size: 0.9rem;
  margin: 0px 3px;
}

/* Side-bars Section */

.side-bar {
  background-color: var(--bg);
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
}

.side-bar h5 {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.65rem 0px;
  border-bottom: 1px solid #d5d5d5;
  color: var(--dark);
}

/* Side-bar-1 Stlyes */

.side-bar-1 {
  padding: 1.75rem 1.5rem;
}

.search-box {
  margin-bottom: 1rem;
}

.search-box input {
  border: 1px solid var(--secondary);
  border-right: none;
  outline: none;
  flex-grow: 1;
  padding: 0.9rem 0.65rem;
}

.search-box input[type="search"] {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--secondary);
  letter-spacing: 1px;
}

.search-box input::placeholder {
  padding: 0.4rem 0rem;
  color: var(--secondary);
  font-weight: 500;
  letter-spacing: 1px;
}

.search-box .search {
  border-radius: 0px;
  padding: 0.75rem 0.65rem;
  display: flex;
  align-items: center;
}

.search-box .search:hover {
  background-color: var(--secondary);
  color: #fff;
}

.search-btn {
  display: flex;
  justify-content: center;
  padding: 0.75rem 0rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  border-radius: 0px;
}

/* Side-bar-2 Stlyes */

.category-list {
  margin-top: 24px;
}

.category-list p {
  font-size: 0.9rem;
  color: var(--text);
  font-weight: 500;
  padding: 0.8rem 0rem;
  border-bottom: 1px solid #d5d5d5;
}

.category-list .no-border {
  border-bottom: none;
}

/* Side-bar-3 Stlyes */

.posts-list {
  margin-top: 2rem;
}

.posts {
  margin-bottom: 1.1rem;
}

.post-img {
  flex: 0 1 28%;
}

.post-img img {
  width: 100%;
}

.post-timing {
  flex: 0 1 66%;
}

.post-timing h6 {
  font-size: 0.9rem;
  font-weight: 500;
}

.post-timing p {
  font-size: 0.75rem;
  color: var(--text);
  font-weight: 500;
}

/* Side-bar-4 Stlyes */

.cloud-links {
  margin-top: 2.25rem;
}

.cloud-links span {
  display: inline-block;
  background-color: #fff;
  color: var(--text-light);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.4rem 0.9rem;
  border: 1px solid #e0e0e0;
  margin-bottom: 0.5rem;
  margin-left: 4px;
}

/* Side-bar-5 Stlyes */

.feed-gallery {
  margin-top: 2.25rem;
}

.feed-img {
  flex: 0 1 30%;
  margin-bottom: 5%;
}

.feed-img img {
  width: 100%;
}

/* Side-bar-6 Stlyes */

.subscribe {
  margin-top: 2.25rem;
}

.subscribe input {
  border: 1px solid var(--secondary);
  outline: none;
  padding: 0.75rem 0.65rem;
  margin-bottom: 1rem;
  width: 100%;
}

.subscribe input::placeholder {
  font-size: 0.8rem;
  color: var(--secondary);
  letter-spacing: 1px;
}

.subscribe input[type="email"] {
  color: var(--secondary);
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.subscribe .sub-btn {
  display: flex;
  justify-content: center;
  border-radius: 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

/* Pages Switch Box */

.pages {
  margin: 3.75rem 0rem;
}

.pages ul a {
  display: flex;
  padding: 0.65rem 1.1rem;
  border: 1px solid #e0e0e0;
  color: var(--text);
  font-size: 0.9rem;
  margin-right: 0.75rem;
}

.pages ul a:hover {
  background-color: var(--bg);
}

.pages ul a i {
  font-size: 0.9rem;
  color: var(--text);
  padding: 3px 0px;
}

.pages ul .active {
  background-color: var(--bg);
}

/* footer Section */

.footer-start {
  align-items: flex-start;
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
}

.foot-text {
  flex: 0 1 24%;
}

.footer-logo img {
  width: 7.5rem;
}

.foot-text p {
  font-weight: 500;
  color: var(--text-light);
  margin: 1.5rem 0rem;
}

.foot-text ul i {
  color: #2e2e2e;
  font-size: 0.9rem;
  margin-right: 0.65rem;
}

.footer-links {
  flex: 0 1 66%;
  align-items: flex-start;
}

.links-section {
  flex: 0 1 28%;
}

.links-section h6 {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.links-section ul li {
  margin: 6px 0px;
}

.links-section ul a {
  color: var(--text-light);
  font-size: 0.75rem;
  font-weight: 500;
}

.links-section ul a:hover {
  text-decoration: underline;
  transition: 0.2s;
}

.footer-line {
  height: 1px;
  background-color: var(--text-light);
  opacity: 0.3;
}

.footer-end {
  text-align: center;
  margin: 1.5rem 0rem;
}

.footer-end span {
  font-size: 11px;
  color: var(--text-light);
  font-weight: 500;
}

.footer-strong-text {
  color: var(--secondary);
  font-size: 0.8rem;
}
